<div class="container">
  <% if @customer.is_deleted? %>
    <h4 class="text-center font-weight-bold">このユーザーは退会しました。</h4>
  <% else %>
    <%= render 'public/shared/profile', customer: @customer %>

    <div class="row">
      <h3 class="font-weight-bold"><%= @customer.nickname %>のつぶやき</h3>
    </div>


    <% if @whispers.present? %>
      <table class="table table-borderd">
        <% @whispers.each do |whisper| %>
          <tr>
            <td><%= render 'public/shared/whisper_post', whisper: whisper %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <%= @customer.nickname %>さんはまだつぶやいていません。
    <% end %>
  <% end %>
</div>