<div class="container">
  <%= render 'public/shared/profile', customer: @customer %>

  <div class="row">
    <h3 class="font-weight-bold"><%= @customer.nickname %>のつぶやき</h3>
  </div>


  <% if @whispers.present? %>
    <table class="table table-borderd">
      <% @whispers.each do |whisper| %>
        <tr>
          <td><%= render 'public/shared/whisper_post', whisper: whisper %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= @customer.nickname %>さんはまだつぶやいていません。
  <% end %>
</div>