<%= render 'public/shared/profile', customer: @customer %>
<h3><%= @customer.nickname %>のブックマーク一覧</h3>
<div>
  <h4>～トレーニング～</h4>
  <%= link_to "つぶやきのブックマーク一覧へ", whisper_bookmarks_customer_path(current_customer.id) %>
</div>

<% if @workout_bookmarks.length != 0 %>
  <% @workout_bookmarks.each do |workout| %>
    <%= render "public/shared/workout_post", workout: workout %>
  <% end %>
<% end %>