<h3>つぶやき詳細</h3>
<%= render 'public/shared/icon', customer: @customer %>
<%= @customer.nickname %>
<%= @whisper.content %>
<% if @whisper.images.present? %>
  <% @whisper.images.each do |image| %>
    <%= image_tag image.to_s %>
  <% end %>
<% end %>
