<div class="container">
  <%= flash[:success] %>
  <div class="row">
    <%= render partial: 'public/shared/whisper_post', locals: { whisper: @whisper, whisper_comment: @whisper_comment, whisper_comments: @whisper_comments } %>
  </div>
</div>