<h3>みんなのトレーニング</h3>
<%= link_to new_workout_path do %>
  新規登録画面に移動
  <!--＋ボタンに変更-->
<% end %>
<!--%= @workouts.each do |workout| %>-->
<!--イメージ画像＆ユーザー名-->
<!--  %= workout.name %>-->
<!--  %= workout.introduction %>-->
<!--% end %>-->