<h3>みんなのトレーニング</h3>
<%= render "search", workout: @workout %>
<%= link_to new_workout_path do %>
  <span class="fa-stack">
    <i class="fa-solid fa-circle fa-stack-2x" style="color: #98dfec;"></i>
    <i class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
  </span>
<% end %>
<table>
  <% @workouts.each do |workout| %>
    <tr>
      <td>
        <%= render 'public/shared/workout_post', workout: workout %>
      </td>
    </tr>
  <% end %>
</table>