<div class="container">
  <div class="row py-3">
    <div class="col-5 d-flex align-items-end">
      <h3 class="font-weight-bold">みんなのトレーニング</h3>
    </div>
    <div class="col-2 d-flex align-items-end">
       <% if customer_signed_in? %>
        <%= link_to new_workout_path do %>
          <span class="fa-stack">
            <i class="fa-solid fa-circle fa-stack-2x" style="color: #98dfec;"></i>
            <i class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="col-5 text-right"><%= render "search", workout: @workout %></div>
  </div>


  <table class="table table-borderd">
    <% @workouts.each do |workout| %>
      <tr>
        <td>
          <%= render 'public/shared/workout_post', workout: workout %>
        </td>
      </tr>
    <% end %>
  </table>
</div>