<div class="container">
  <%= flash[:success] %>
  <div class="row">
    <%= render partial: 'public/shared/workout_post', locals: { workout: @workout, workout_comment: @workout_comment } %>
  </div>
</div>