<h3>登録済みユーザー一覧</h3>

<table>
  <thead>
    <tr>
      <th colspan="2">ユーザー名</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td></td>
        <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= render 'admin/shared/icon', customer: customer %>
            <%= customer.nickname %>
          <% end %>
        </td>
        <td><%= customer.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
