<h3>登録済みユーザー一覧</h3>

<table>
  <thead>
    <tr>
      <th colspan="2">ユーザー名</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td></td>
        <td><!--アイコンを表示--><%= customer.nickname %></td>
        <td><%= customer.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
