<h3><%= @customer.nickname %>のつぶやき</h3>
<%= link_to "トレーニング一覧へ", admin_customer_workouts_path %>
<% if @whispers.present? %>
  <table>
    <% @whispers.each do |whisper| %>
      <tr>
        <td>
          <%= render "admin/shared/whisper_post", whisper: whisper %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>あなたはつぶやいていません。</p>
<% end %>