<h3><%= @customer.nickname %>のトレーニング</h3>
<%= link_to "つぶやき一覧へ", admin_customer_whispers_path %>
<% if @workouts.present? %>
  <table>
    <% @workouts.each do |workout| %>
      <tr>
        <td>
          <%= render "admin/shared/workout_post", workout: workout %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>あなたはまだトレーニングを投稿していません。</p>
<% end %>