<h3>みんなのトレーニング</h3>
<%= link_to "タグ一覧へ", admin_tags_path %>
<table>
  <% @workouts.each do |workout| %>
    <tr>
      <td>
        <%= render "admin/shared/workout_post", workout: workout %>
      </td>
    </tr>
  <% end %>
</table>