@use '~bootstrap/scss/bootstrap';

.link {
  color: #1a1a1a;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.success {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 20px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 20px;
}